 
 <div id="overlay">
    <div class="cv-spinner">
      <span class="spinner"></span>
    </div>
  </div>
 
 <!--**********************************
        Scripts
    ***********************************-->
    <script src="/Admin/assets/plugins/common/common.min.js"></script>
    <script src="/Admin/main/./js/custom.min.js"></script>
    <script src="/Admin/main/./js/settings.js"></script>
    <script src="/Admin/main/./js/quixnav.js"></script>
    <script src="/Admin/main/./js/styleSwitcher.js"></script>
    
    <!-- Jquery Validation -->
    <script src="/Admin/assets/plugins/jquery-validation/jquery.validate.min.js"></script>
    <!-- Form step -->
    <script src="/Admin/assets/plugins/jquery-steps/build/jquery.steps.min.js"></script>
    <script src="/Admin/assets/plugins/jquery-validation/jquery.validate.min.js"></script>
    <!-- Form validate init -->
    <script src="/Admin/main/./js/plugins-init/jquery.validate-init.js"></script>
    <!-- Dropify -->
    <script src="/Admin/assets/plugins/dropify/dist/js/dropify.min.js"></script>
    <!-- Typeahead -->
    <script src="/Admin/assets/plugins/typeahead.js/dist/typeahead.jquery.min.js"></script>
    <script src="/Admin/assets/plugins/typeahead.js/dist/typeahead.bundle.min.js"></script>
    <script src="/Admin/assets/plugins/typeahead.js/dist/bloodhound.min.js"></script>
    <!-- Tagsinput -->
    <script src="/Admin/assets/plugins/bootstrap-tagsinput/js/bootstrap-tagsinput.min.js"></script>
    <!-- Switchery -->
    <script src="/Admin/assets/plugins/innoto-switchery/dist/switchery.min.js"></script>
    <!-- Select 2 -->
    <script src="/Admin/assets/plugins/select2/js/select2.full.min.js"></script>
    <!-- Touchspinner -->
    <script src="/Admin/assets/plugins/bootstrap-touchspin/js/jquery.bootstrap-touchspin.min.js"></script>
    <!-- Input mask -->
    <script src="/Admin/assets/plugins/jasny-bootstrap/dist/js/jasny-bootstrap.min.js"></script>
    <!-- x-editable -->
    <script src="/Admin/assets/plugins/moment/moment.min.js"></script>
    <script src="/Admin/assets/plugins/x-editable/dist/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
    <!-- Summernote -->
    <script src="/Admin/assets/plugins/summernote/js/summernote.min.js"></script>
    <!-- Daterangepicker -->
    <!-- momment js is must -->
    <!-- <script src="/Admin/assets/plugins/moment/moment.min.js"></script> -->
    <script src="/Admin/assets/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- clockpicker -->
    <script src="/Admin/assets/plugins/moment/moment.min.js"></script>
    <script src="/Admin/assets/plugins/clockpicker/js/bootstrap-clockpicker.min.js"></script>
    <!-- asColorPicker -->
    <!-- momment js is must -->
    <!-- <script src="/Admin/assets/plugins/moment/moment.min.js"></script> -->
    <script src="/Admin/assets/plugins/jquery-asColor/jquery-asColor.min.js"></script>
    <script src="/Admin/assets/plugins/jquery-asGradient/jquery-asGradient.min.js"></script>
    <script src="/Admin/assets/plugins/jquery-asColorPicker/js/jquery-asColorPicker.min.js"></script>
    <!-- Material color picker -->
    <!-- momment js is must -->
    <!-- <script src="/Admin/assets/plugins/moment/moment.min.js"></script> -->
    <script src="/Admin/assets/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
    <!-- pickdate -->
    <script src="/Admin/assets/plugins/pickadate/picker.js"></script>
    <script src="/Admin/assets/plugins/pickadate/picker.time.js"></script>
    <script src="/Admin/assets/plugins/pickadate/picker.date.js"></script>




    <!-- Form step init -->
    <script src="/Admin/main/./js/plugins-init/jquery-steps-init.js"></script>
    <!-- Dropify init -->
    <script src="/Admin/main/./js/plugins-init/dropify-init.js"></script>
    <!-- Typeahead init -->
    <script src="/Admin/main/./js/plugins-init/typehead.js-init.js"></script>
    <!-- Tagsinput init -->
    <script src="/Admin/main/./js/plugins-init/bootstrap-tagsinput-init.js"></script>
    <!-- Switchery init -->
    <script src="/Admin/main/./js/plugins-init/switchery-init.js"></script>
    <!-- Select 2 init -->
    <script src="/Admin/main/./js/plugins-init/select2-init.js"></script>
    <!-- Touchspinner init -->
    <script src="/Admin/main/./js/plugins-init/bootstrap-touchpin-init.js"></script>
    <!-- x-editable init -->
    <script src="/Admin/main/./js/plugins-init/bootstrap-editable-init.js"></script>
    <!-- Summernote init -->
    <script src="/Admin/main/./js/plugins-init/summernote-init.js"></script>
    <!-- Daterangepicker -->
    <script src="/Admin/main/./js/plugins-init/bs-daterange-picker-init.js"></script>
    <!-- Clockpicker init -->
    <script src="/Admin/main/./js/plugins-init/clock-picker-init.js"></script>
    <!-- asColorPicker init -->
    <script src="/Admin/main/./js/plugins-init/jquery-asColorPicker.init.js"></script>
    <!-- Material color picker init -->
    <script src="/Admin/main/./js/plugins-init/material-date-picker-init.js"></script>
    <!-- Pickdate -->
    <script src="/Admin/main/./js/plugins-init/pickadate-init.js"></script>


