
<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Start Atlantic | Admin Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.min.css" integrity="sha512-QKC1UZ/ZHNgFzVKSAhV5v5j73eeL9EEN289eKAEFaAjgAiobVAnVv/AGuPbXsKl1dNoel3kNr6PYnSiTzVVBCw==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.css" integrity="sha512-9Tu/Gu0+bXW+oGrTGJOeNz2RG4MaF52FznXCciXFrXehFTLF6phJnJFNVOU2mmj9FWIXk9ap0H1ocygu1ZTRqg==" crossorigin="anonymous" />
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/images/deal_logo.webp">
    <!-- Form step -->



    
    <link href="/admin/assets/plugins/jquery-steps/css/jquery.steps.css" rel="stylesheet">
    <!-- Dropify -->
    <link rel="stylesheet" href="/admin/assets/plugins/dropify/dist/css/dropify.min.css">
    <!-- Tagsinput -->
    <link rel="stylesheet" href="/admin/assets/plugins/bootstrap-tagsinput/css/bootstrap-tagsinput.css">
    <!-- Switchery -->
    <link href="/admin/assets/plugins/innoto-switchery/dist/switchery.min.css" rel="stylesheet"/>
    <!-- Select 2 -->
    <link rel="stylesheet" href="/admin/assets/plugins/select2/css/select2.min.css">
    <!-- Towchspinner -->
    <link rel="stylesheet" href="/admin/assets/plugins/bootstrap-Towchspin/css/jquery.bootstrap-Towchspin.min.css">
    <!-- Input mask -->
    <link rel="stylesheet" href="/admin/assets/plugins/jasny-bootstrap/dist/css/jasny-bootstrap.min.css">
    <!-- x-editable -->
    <link href="/admin/assets/plugins/x-editable/dist/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet">
    <!-- Summernote -->
    <link href="/admin/assets/plugins/summernote/summernote.css" rel="stylesheet">
    <!-- Daterange picker -->
    <link href="/admin/assets/plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <!-- Clockpicker -->
    <link href="/admin/assets/plugins/clockpicker/css/bootstrap-clockpicker.min.css" rel="stylesheet">
    <!-- asColorpicker -->
    <link href="/admin/assets/plugins/jquery-asColorPicker/css/asColorPicker.min.css" rel="stylesheet">
    <!-- Material color picker -->
    <link href="/admin/assets/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet">
    <!-- Pick date -->
    <link rel="stylesheet" href="/admin/assets/plugins/pickadate/themes/default.css">
    <link rel="stylesheet" href="/admin/assets/plugins/pickadate/themes/default.date.css">



    <link rel="stylesheet" href="/admin/assets/plugins/jsgrid/css/jsgrid.min.css">
    <link rel="stylesheet" href="/admin/assets/plugins/jsgrid/css/jsgrid-theme.min.css">
    <!-- Footable -->
    <link rel="stylesheet" href="/admin/assets/plugins/footable/css/footable.bootstrap.min.css">
    <!-- Bootgrid -->
    <link rel="stylesheet" href="/admin/assets/plugins/jquery-bootgrid/dist/jquery.bootgrid.min.css">
    <!-- Datatable -->
    <link href="/admin/assets/plugins/datatables/css/jquery.dataTables.min.css" rel="stylesheet">


    
    <!-- Custom Stylesheet -->
    <link href="/admin/main/./css/style.css" rel="stylesheet">


    <style>
        #overlay{	
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height:100%;
  display: none;
  background: rgba(0,0,0,0.6);
}
.cv-spinner {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;  
}
.spinner {
  width: 40px;
  height: 40px;
  border: 4px #ddd solid;
  border-top: 4px #2e93e6 solid;
  border-radius: 50%;
  animation: sp-anime 0.8s infinite linear;
}
@keyframes sp-anime {
  100% { 
    transform: rotate(360deg); 
  }
}
.is-hide{
  display:none;
}

    </style>

</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <div class="brand-logo">
                <a href="#">
                    <b class="logo-abbr">D</b>
                    <span class="brand-title"><b>Start Atlantic</b></span>
                </a>
            </div>
            <div class="nav-control">
                <div class="hamburger">
                    <span class="toggle-icon"><i class="icon-menu"></i></span>
                </div>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">    
            <div class="header-content clearfix">
                
              


            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="nk-sidebar">           
            <div class="nk-nav-scroll">
                <ul class="metismenu" id="menu">
                    <li class="nav-label">Dashboard</li>
                    <!-- <li>
                        <a href="/admin/dashboard" aria-expanded="false">
                            <i class="icon-speedometer"></i><span class="nav-text">Dashboard</span>
                        </a>
                       
                    </li> -->


                    <li>
                        <a href="/admin/dashboard/user/country" aria-expanded="false">
                            <i class="icon-menu"></i><span class="nav-text">Country</span>
                        </a>
                       
                    </li>

                    <li>
                        <a href="/admin/dashboard/user/state" aria-expanded="false">
                            <i class="icon-menu"></i><span class="nav-text">State</span>
                        </a>
                    </li>


                    <li>
                        <a href="/admin/dashboard/user/tour" aria-expanded="false">
                            <i class="icon-menu"></i><span class="nav-text">Tour</span>
                        </a>
                    </li>

                    <li>
                        <a href="/admin/dashboard/user/blog_category" aria-expanded="false">
                            <i class="icon-menu"></i><span class="nav-text">Blogs Category</span>
                        </a>
                    </li>


                    <li>
                        <a href="/admin/dashboard/user/blogs" aria-expanded="false">
                            <i class="icon-menu"></i><span class="nav-text">Blogs</span>
                        </a>
                    </li>

                    <li>
                        <a href="/admin/dashboard/user/story" aria-expanded="false">
                            <i class="icon-menu"></i><span class="nav-text">Story</span>
                        </a>
                    </li>


                    <li>
                        <a href="/admin/dashboard/booking/list" aria-expanded="false">
                            <i class="icon-menu"></i><span class="nav-text">Enquiry</span>
                        </a>
                    </li>


                    <li>
                        <a href="/admin/dashboard/subscriber/list" aria-expanded="false">
                            <i class="icon-menu"></i><span class="nav-text">Subscribers</span>
                        </a>
                    </li>


                    <li>
                        <a href="/admin/logout" aria-expanded="false">
                            <i class="icon-menu"></i><span class="nav-text">Logout</span>
                        </a>
                    </li>
                    
                    
                 
                   
                   


               </ul>
            </div>
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->