<%- include ('./storeListingHeader.ejs') %>


        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">

            
            <!-- row -->

            <div class="container-fluid">
              
                <div class="row" id='insertdiv'>
                    <div class="col-12">
                        <h3 class="content-heading mt-3">New Welcome Poster    <span style="float: right;cursor: pointer;color:#1f5ab0;" id="show">Show All</span></h3>

                    </div>
                   
                    <div class="col-xl-12 col-xxl-12">
                        <div class="card">
                            <div class="card-body">    
                                    <div class="basic-form">
                                        <form action="/admin/dashboard/store-listing/welcome_poster/insert" method="POST" enctype="multipart/form-data" class="uploadImage">
                                             
                                            
                                            
                                            <div class="form-row">
                                                <div class="col-6">
                                                    <label>Category Name</label>
                                                  <select id="stateid" name="categoryid" class="form-control"></select>
                                                </div>
                                                <div class="col-6">
                                                    <label>Type</label>
                                                    <select class="form-control" name="type" id="type">
                                                        <option value="Welcome Banner">Welcome Banner</option>
                                                        <option value="Welcome Address">Welcome Address</option>

                                                    </select>
                                                </div>
                                               
                                              
                                            </div>
                                            
                                            
                                            
                                            
                                            <div class="form-row" style="margin-top: 20px;">

                                                <div class="col-3">
                                                    <label>Left</label>
                                                    <input type="text" class="form-control" name="left" id="left" required>
                                                </div>
                                             
                                                <div class="col-3">
                                                    <label>Right</label>
                                                    <input type="text" class="form-control" name="right" id="right" required>
                                                </div>
                                             

                                                <div class="col-3">
                                                    <label>Top</label>
                                                    <input type="text" class="form-control" name="top" id="top" required>

                                                </div>

                                                <div class="col-3">
                                                    <label>Bottom</label>
                                                    <input type="text" class="form-control" name="bottom" id="bottom" required>


                                                </div>
                                              
                                            </div>

                                            
                                            
                                            
                                            <div class="form-row" style="margin-top: 20px;">
                                            
                                                <div class="col-12">
                                                    <label>Image</label>
                                                    <input type="file" class="form-control" name="image" placeholder="State">
                                                </div>
                                               
                                              
                                            </div>
                               <button class="btn btn-primary" type="submit" style="margin-top:20px;float:right">Save</button>

                                        </form>
                                    </div>
                                    
                                  
                                    
                                   
                                    
                             
                                    
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                   
                    
                    <div class="col-xl-12 col-xxl-12">
                        <div class="card">
                            <div class="card-body">
                                <!-- <h4 class="card-title">Table Bordered</h4> -->
                                <div class="table-responsive">
                                   <div id="result"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" id='editdiv'>
                    <div class="col-12">
    <h6 class="card-header"><span><button type="button" class="btn btn-primary show" id="back1" style="margin:10px">Back</button></span>Edit Data</h6>

                        <h3 class="content-heading mt-3">New City    <span style="float: right;cursor: pointer;color:#1f5ab0;" id="show">Show All</span></h3>

                    </div>
                   
                    <div class="col-xl-12 col-xxl-12">
                        <div class="card">
                            <div class="card-body">    
                                    <div class="basic-form">
                                               <div class="form-row">

                                                <div class="col-4">
                                                    <label>ID</label>
                                                    <input type="text" class="form-control" id="pid" readonly>
                                                </div>
                                             
                                                <div class="col-4">
                                                    <label>Category Name</label>
                                                  <select id="pstateid" name="pstateid" class="form-control"></select>
                                                </div>

                                                <div class="col-4">
                                                    <label>Category Type</label>
                                                    <select id="ptype" name="ptype" class="form-control">
                                                        <option value="Welcome Banner">Welcome Banner</option>
                                                        <option value="Welcome Address">Welcome Address</option>
                                                    </select>

                                                </div>
                                              
                                            </div>



                                            <div class="form-row" style="margin-top: 20px;">

                                                <div class="col-3">
                                                    <label>Left</label>
                                                    <input type="text" class="form-control" name="left" id="pleft" required>
                                                </div>
                                             
                                                <div class="col-3">
                                                    <label>Right</label>
                                                    <input type="text" class="form-control" name="right" id="pright" required>
                                                </div>
                                             

                                                <div class="col-3">
                                                    <label>Top</label>
                                                    <input type="text" class="form-control" name="top" id="ptop" required>

                                                </div>

                                                <div class="col-3">
                                                    <label>Bottom</label>
                                                    <input type="text" class="form-control" name="bottom" id="pbottom" required>


                                                </div>
                                              
                                            </div>


                                      

                               <button class="btn btn-primary" type="button" id="update" style="margin-top:20px;float:right">Update</button>

                                    </div>
                                    
                                  
                                    
                                   
                                    
                             
                                    
                                
                            </div>
                        </div>
                    </div>
                </div>




                <div class="card mb-4" id="updateimagediv">
                    <h6 class="card-header"><span><button type="button" class="btn btn-primary show" id="back2" style="margin:10px">Back</button></span> Upload Image</h6>
                    <div class="card-body">
                    
                        <form action="/admin/dashboard/store-listing/welcome_poster/update-image" method="POST" enctype="multipart/form-data">
                            <div class="form-row">
                       
                                <div class="form-group col-md-6 col-lg-6">
                                    <label class="form-label">ID</label>
                                    <input type="text" class="form-control" placeholder="Email" id="peid" name="id" readonly>
                                    <div class="clearfix"></div>
                                    </div>
                    
                    
                            <div class="form-group col-md-6 col-lg-6">
                            <label class="form-label">Image</label>
                            <input type="file" class="form-control" name='image' placeholder="Password">
                            <div class="clearfix"></div>
                            </div>
                          

                                </div>
                            
                            
                            <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                    </div>
                    </div>
                    


            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
        
        
        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p><a href="templatespoint.net"></a></p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->

        
        <!--**********************************
            Right sidebar start
        ***********************************-->
        <div class="sidebar-right">
            <a class="sidebar-right-trigger gradient-5-x" href="javascript:void(0)">
                <span><i class="fa fa-cog fa-spin"></i></span>
            </a>
            <div class="sidebar-right-inner">
                <div class="admin-settings">
                    <h4>Pick your style</h4>
                    <div>
                        <p>Background</p>
                        <select class="form-control" name="theme_version" id="theme_version">
                            <option value="light">Light</option>
                            <option value="dark">Dark</option>
                        </select>
                    </div>
                    <div>
                        <p>Layout</p>
                        <select class="form-control" name="theme_layout" id="theme_layout">
                            <option value="vertical">Vertical</option>
                            <option value="horizontal">Horizontal</option>
                        </select>
                    </div>
                    <div>
                        <p>Sidebar</p>
                        <select class="form-control" name="sidebar_style" id="sidebar_style">
                            <option value="full">Full</option>
                            <option value="mini">Mini</option>
                            <option value="compact">Compact</option>
                            <option value="overlay">Overlay</option>
                        </select>
                    </div>
                    <div>
                        <p>Sidebar position</p>
                        <select class="form-control" name="sidebar_position" id="sidebar_position">
                            <option value="static">Static</option>
                            <option value="fixed">Fixed</option>
                        </select>
                    </div>
                    <div>
                        <p>Header position</p>
                        <select class="form-control" name="header_position" id="header_position">
                            <option value="static">Static</option>
                            <option value="fixed">Fixed</option>
                        </select>
                    </div>
                    <div>
                        <p>Container</p>
                        <select class="form-control" name="container_layout" id="container_layout">
                            <option value="wide">Wide</option>
                            <option value="boxed">Boxed</option>
                            <option value="wide-boxed">Wide Boxed</option>
                        </select>
                    </div>
                    <div>
                        <p>Direction</p>
                        <select class="form-control" name="theme_direction" id="theme_direction">
                            <option value="ltr">LTR</option>
                            <option value="rtl">RTL</option>
                        </select>
                    </div>
                    <div>
                        <p>Navigation Header</p>
                        <div>
                            <span>
                                <input type="radio" name="navigation_header" value="color_1" class="filled-in chk-col-primary" id="nav_header_bg_1">
                                <label for="nav_header_bg_1"></label>
                            </span>
                            <span>
                                <input type="radio" name="navigation_header" value="color_2" class="filled-in chk-col-primary" id="nav_header_bg_2">
                                <label for="nav_header_bg_2"></label>
                            </span>
                            <span>
                                <input type="radio" name="navigation_header" value="color_3" class="filled-in chk-col-primary" id="nav_header_bg_3">
                                <label for="nav_header_bg_3"></label>
                            </span>
                            <span>
                                <input type="radio" name="navigation_header" value="color_4" class="filled-in chk-col-primary" id="nav_header_bg_4">
                                <label for="nav_header_bg_4"></label>
                            </span>
                            <span>
                                <input type="radio" name="navigation_header" value="color_5" class="filled-in chk-col-primary" id="nav_header_bg_5">
                                <label for="nav_header_bg_5"></label>
                            </span>
                            <span>
                                <input type="radio" name="navigation_header" value="color_6" class="filled-in chk-col-primary" id="nav_header_bg_6">
                                <label for="nav_header_bg_6"></label>
                            </span>
                            <span>
                                <input type="radio" name="navigation_header" value="color_7" class="filled-in chk-col-primary" id="nav_header_bg_7">
                                <label for="nav_header_bg_7"></label>
                            </span>
                            <span>
                                <input type="radio" name="navigation_header" value="color_8" class="filled-in chk-col-primary" id="nav_header_bg_8">
                                <label for="nav_header_bg_8"></label>
                            </span>
                            <span>
                                <input type="radio" name="navigation_header" value="color_9" class="filled-in chk-col-primary" id="nav_header_bg_9">
                                <label for="nav_header_bg_9"></label>
                            </span>
                            <span>
                                <input type="radio" name="navigation_header" value="color_10" class="filled-in chk-col-primary" id="nav_header_bg_10">
                                <label for="nav_header_bg_10"></label>
                            </span>
                        </div>
                    </div>
                    <div>
                        <p>Header</p>
                        <div>
                            <span>
                                <input type="radio" name="header_bg" value="color_1" class="filled-in chk-col-primary" id="header_bg_1">
                                <label for="header_bg_1"></label>
                            </span>
                            <span>
                                <input type="radio" name="header_bg" value="color_2" class="filled-in chk-col-primary" id="header_bg_2">
                                <label for="header_bg_2"></label>
                            </span>
                            <span>
                                <input type="radio" name="header_bg" value="color_3" class="filled-in chk-col-primary" id="header_bg_3">
                                <label for="header_bg_3"></label>
                            </span>
                            <span>
                                <input type="radio" name="header_bg" value="color_4" class="filled-in chk-col-primary" id="header_bg_4">
                                <label for="header_bg_4"></label>
                            </span>
                            <span>
                                <input type="radio" name="header_bg" value="color_5" class="filled-in chk-col-primary" id="header_bg_5">
                                <label for="header_bg_5"></label>
                            </span>
                            <span>
                                <input type="radio" name="header_bg" value="color_6" class="filled-in chk-col-primary" id="header_bg_6">
                                <label for="header_bg_6"></label>
                            </span>
                            <span>
                                <input type="radio" name="header_bg" value="color_7" class="filled-in chk-col-primary" id="header_bg_7">
                                <label for="header_bg_7"></label>
                            </span>
                            <span>
                                <input type="radio" name="header_bg" value="color_8" class="filled-in chk-col-primary" id="header_bg_8">
                                <label for="header_bg_8"></label>
                            </span>
                            <span>
                                <input type="radio" name="header_bg" value="color_9" class="filled-in chk-col-primary" id="header_bg_9">
                                <label for="header_bg_9"></label>
                            </span>
                            <span>
                                <input type="radio" name="header_bg" value="color_10" class="filled-in chk-col-primary" id="header_bg_10">
                                <label for="header_bg_10"></label>
                            </span>
                        </div>
                    </div>
                    <div>
                        <p>Sidebar</p>
                        <div>
                            <span>
                                <input type="radio" name="sidebar_bg" value="color_1" class="filled-in chk-col-primary" id="sidebar_bg_1">
                                <label for="sidebar_bg_1"></label>
                            </span>
                            <span>
                                <input type="radio" name="sidebar_bg" value="color_2" class="filled-in chk-col-primary" id="sidebar_bg_2">
                                <label for="sidebar_bg_2"></label>
                            </span>
                            <span>
                                <input type="radio" name="sidebar_bg" value="color_3" class="filled-in chk-col-primary" id="sidebar_bg_3">
                                <label for="sidebar_bg_3"></label>
                            </span>
                            <span>
                                <input type="radio" name="sidebar_bg" value="color_4" class="filled-in chk-col-primary" id="sidebar_bg_4">
                                <label for="sidebar_bg_4"></label>
                            </span>
                            <span>
                                <input type="radio" name="sidebar_bg" value="color_5" class="filled-in chk-col-primary" id="sidebar_bg_5">
                                <label for="sidebar_bg_5"></label>
                            </span>
                            <span>
                                <input type="radio" name="sidebar_bg" value="color_6" class="filled-in chk-col-primary" id="sidebar_bg_6">
                                <label for="sidebar_bg_6"></label>
                            </span>
                            <span>
                                <input type="radio" name="sidebar_bg" value="color_7" class="filled-in chk-col-primary" id="sidebar_bg_7">
                                <label for="sidebar_bg_7"></label>
                            </span>
                            <span>
                                <input type="radio" name="sidebar_bg" value="color_8" class="filled-in chk-col-primary" id="sidebar_bg_8">
                                <label for="sidebar_bg_8"></label>
                            </span>
                            <span>
                                <input type="radio" name="sidebar_bg" value="color_9" class="filled-in chk-col-primary" id="sidebar_bg_9">
                                <label for="sidebar_bg_9"></label>
                            </span>
                            <span>
                                <input type="radio" name="sidebar_bg" value="color_10" class="filled-in chk-col-primary" id="sidebar_bg_10">
                                <label for="sidebar_bg_10"></label>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--**********************************
            Right sidebar end
        ***********************************-->
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

   
    <%- include ('./footer.ejs') %>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
    <script>
    
      $('.uploadImage').submit(function (e) {
        e.preventDefault();
    
        // var title = $('#title').val(); 
    
        $(this).ajaxSubmit({
          // data: {title: title},
          contentType: 'application/json',
          success: function (response) {
            alert('successfully')

          }
        });
        return false;
      });
    
    
    
    </script>




<script src="/javascripts/welcome_poster.js"></script>






</body>


</html>