

<%- include ('./header.ejs') %>

<a id='qodef-back-to-top' href='#'>
<span class="qodef-btt-text">TOP</span>
</a>
<div class="qodef-content">
<div class="qodef-content-inner">
<div class="qodef-title-holder qodef-centered-type qodef-title-va-header-bottom qodef-preload-background qodef-has-bg-image qodef-bg-parallax" style="height: 520px;background-color: #f8f8f8;background-image:url(/images/desert.jpg);" data-height="520">
<div class="qodef-title-image">
<img itemprop="image" src="/design/wp-content/uploads/2018/09/about-us-title-img-1.jpg" alt="s" />
</div>
<div class="qodef-title-wrapper" style="height: 520px">
<div class="qodef-title-inner">
<div class="qodef-grid">
<span class="qodef-page-subtitle">Amazing</span>
<h1 class="qodef-page-title entry-title">About Us</h1>
</div>
</div>
</div>
</div>
<div class="qodef-full-width">
<div class="qodef-full-width-inner">
<div class="qodef-grid-row">
<div class="qodef-page-content-holder qodef-grid-col-12">
<div class="qodef-row-grid-section-wrapper "><div class="qodef-row-grid-section"><div class="vc_row wpb_row vc_row-fluid vc_row-o-content-top vc_row-flex"><div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-offset-0 vc_col-lg-7 vc_col-md-offset-0 vc_col-md-10 vc_col-sm-offset-0"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="qodef-elements-holder   qodef-one-column  qodef-responsive-mode-768 "><div class="qodef-eh-item    " data-item-class="qodef-eh-custom-5281" data-1367-1600="155px 0px 170px" data-1025-1366="155px 0px 170px" data-769-1024="155px 0px 80px" data-681-768="155px 0px 80px" data-680="161px 0px 80px">
<div class="qodef-eh-item-inner">
<div class="qodef-eh-item-content qodef-eh-custom-5281" style="padding: 155px 0 170px 0">
<div class="qodef-section-title-holder ">
<div class="qodef-st-inner">
<h2 class="qodef-st-title">
    Our Story </h2>

</div>
</div><div class="vc_empty_space" style="height: 13px"><span class="vc_empty_space_inner"></span></div>
<div class="wpb_text_column wpb_content_element ">
<div class="wpb_wrapper">
<p>Royal Pacific Fze is a Global DMC and Wholesaler B2B Travel Provider and also is an Award Winning company which offering Worldwide Hotels, Sightseeing and Transfer in one powerful and single portal.</p>
</div>
</div>
<div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div><a itemprop="url" href="../tours-search-page/index0ed7.html?view_type=gallery" target="_self" class="qodef-btn qodef-btn-medium qodef-btn-solid">

</a> </div>
</div>
</div></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-offset-0 vc_col-lg-5 vc_col-md-offset-0 vc_col-md-10 vc_col-sm-offset-0 vc_col-xs-12"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="qodef-elements-holder   qodef-one-column  qodef-responsive-mode-768 "><div class="qodef-eh-item    " data-item-class="qodef-eh-custom-9369" data-1367-1600="125px 0px 0 104px" data-1025-1366="125px 0px 0 23px" data-769-1024="0px 0px 170px 0px" data-681-768="0px 0px 170px 0px" data-680="0px 0px 170px 0px">
<div class="qodef-eh-item-inner">
<div class="qodef-eh-item-content qodef-eh-custom-9369" style="padding: 125px 0px 0 40px">
<div class="wpb_single_image wpb_content_element vc_align_left">
<figure class="wpb_wrapper vc_figure">
<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="420" height="420" src="/design/wp-content/uploads/2018/09/about-us-img-1.png" class="vc_single_image-img attachment-full" alt="d" loading="lazy" srcset="https://setsail.qodeinteractive.com/wp-content/uploads/2018/09/about-us-img-1.png 420w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/09/about-us-img-1-150x150.png 150w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/09/about-us-img-1-300x300.png 300w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/09/about-us-img-1-100x100.png 100w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/09/about-us-img-1-75x75.png 75w" sizes="(max-width: 420px) 100vw, 420px" /></div>
</figure>
</div>
</div>
</div>
</div></div></div></div></div></div></div></div><div class="vc_row wpb_row vc_row-fluid vc_custom_1539260876012 qodef-content-aligment-center"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="qodef-video-button-holder  qodef-vb-has-img ">
<div class="qodef-video-button-image">
<img width="2560" height="807" src="/design/wp-content/uploads/2018/09/about-us-parallax-img-1.jpg" class="attachment-full size-full" alt="d" loading="lazy" srcset="https://setsail.qodeinteractive.com/wp-content/uploads/2018/09/about-us-parallax-img-1.jpg 2560w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/09/about-us-parallax-img-1-300x95.jpg 300w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/09/about-us-parallax-img-1-1024x323.jpg 1024w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/09/about-us-parallax-img-1-768x242.jpg 768w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/09/about-us-parallax-img-1-1536x484.jpg 1536w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/09/about-us-parallax-img-1-600x189.jpg 600w" sizes="(max-width: 2560px) 100vw, 2560px" /> </div>
<a class="qodef-video-button-play-image " href="https://vimeo.com/65727879" data-rel="prettyPhoto[video_button_pretty_photo_956]">
<span class="qodef-video-button-play-inner">
<img width="69" height="69" src="/design/wp-content/uploads/2018/09/play-button.png" class="attachment-full size-full" alt="d" loading="lazy" /> </span>
</a>
</div></div></div></div></div><div class="qodef-row-grid-section-wrapper "><div class="qodef-row-grid-section"><div class="vc_row wpb_row vc_row-fluid vc_row-o-content-top vc_row-flex"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="qodef-elements-holder   qodef-two-columns  qodef-responsive-mode-1024 "><div class="qodef-eh-item  qodef-vertical-alignment-top  " data-item-class="qodef-eh-custom-7409" data-1367-1600="0px 67px 120px 137px" data-1025-1366="0px 0px 120px 32px" data-769-1024="0px 0px 65px 0px" data-681-768="0px 0px 65px 0px" data-680="0px 0px 72px 0px">
<div class="qodef-eh-item-inner">
<div class="qodef-eh-item-content qodef-eh-custom-7409" style="padding: 0px 128px 120px 128px">
<div class="wpb_single_image wpb_content_element vc_align_left">
<figure class="wpb_wrapper vc_figure">
<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="397" height="461" src="/design/wp-content/uploads/2018/09/about-us-img-2.png" class="vc_single_image-img attachment-full" alt="d" loading="lazy" srcset="https://setsail.qodeinteractive.com/wp-content/uploads/2018/09/about-us-img-2.png 397w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/09/about-us-img-2-258x300.png 258w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/09/about-us-img-2-65x75.png 65w" sizes="(max-width: 397px) 100vw, 397px" /></div>
</figure>
</div>
</div>
</div>
</div><div class="qodef-eh-item  qodef-vertical-alignment-top  " data-item-class="qodef-eh-custom-4460" data-1367-1600="40px 0px 0px 0px" data-1025-1366="40px 0px 170px 8px" data-769-1024="0px 0px 120px 0px" data-681-768="0px 0px 120px 0px" data-680="0px 0px 120px 0px">
<div class="qodef-eh-item-inner">
<div class="qodef-eh-item-content qodef-eh-custom-4460" style="padding: 40px 0px 0px 8px">
<div class="qodef-section-title-holder ">
<div class="qodef-st-inner">
<h2 class="qodef-st-title">
    Our mission</h2>
<p class="qodef-st-text" style="font-size: 17px;line-height: 28px;margin-top: 14px">
    Since our inception in 2003, Global Copper Tower has secured its position amongst the top-ranked, trust-worthy B2B travel wholesalers and has enjoyed strong year on year growth and has kept its promise of exceeding partners’ expectations. Over 13,000 partners and travel companies from all around the world using our services via latest API/XML Technology, White label Solution and B2B login access.</p>
</div>
</div><div class="vc_empty_space" style="height: 4px"><span class="vc_empty_space_inner"></span></div><div class="qodef-progress-bar  ">
<h6 class="qodef-pb-title-holder">
<span class="qodef-pb-title">Countryside</span>
<span class="qodef-pb-percent">0</span>
</h6>
<div class="qodef-pb-content-holder">
<div data-percentage=76 class="qodef-pb-content"></div>
</div>
</div><div class="qodef-progress-bar  ">
<h6 class="qodef-pb-title-holder">
<span class="qodef-pb-title">Vineyard</span>
<span class="qodef-pb-percent">0</span>
</h6>
<div class="qodef-pb-content-holder">
<div data-percentage=92 class="qodef-pb-content"></div>
</div>
</div><div class="qodef-progress-bar  ">
<h6 class="qodef-pb-title-holder">
<span class="qodef-pb-title">Wine Tasting</span>
<span class="qodef-pb-percent">0</span>
</h6>
<div class="qodef-pb-content-holder">
<div data-percentage=86 class="qodef-pb-content"></div>
</div>
</div> </div>
</div>
</div></div></div></div></div></div></div></div><div class="vc_row wpb_row vc_row-fluid vc_custom_1540812231889"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="qodef-tours-list-holder qodef-tours-row qodef-normal-space  qodef-info-skin-light qodef-tours-columns-6 qodef-tours-type-masonry">
<div class="qodef-tours-list-holder-inner qodef-tours-row-inner-holder qodef-outer-space">
<div class="qodef-tours-list-grid-sizer"></div>
<div class="qodef-tours-masonry-item qodef-tours-row-item qodef-item-space qodef-tour-item-has-rating qodef-size-default post-3104 tour-item type-tour-item status-publish has-post-thumbnail hentry tour-category-popular tour-attribute-5-star-accommodation tour-attribute-airport-transfer-2 tour-attribute-breakfast tour-attribute-personal-guide">
<div class="qodef-tours-gim-holder-inner">
<div class="qodef-tours-gim-image">
<img width="650" height="650" src="/design/wp-content/uploads/2018/10/tour-featured-img-42-650x650.jpg" class="attachment-setsail_select_image_square size-setsail_select_image_square" alt="f" loading="lazy" srcset="https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-42-650x650.jpg 650w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-42-150x150.jpg 150w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-42-300x300.jpg 300w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-42-768x768.jpg 768w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-42-1024x1024.jpg 1024w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-42-600x600.jpg 600w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-42-100x100.jpg 100w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-42.jpg 1100w" sizes="(max-width: 650px) 100vw, 650px" /> </div>
<div class="qodef-tours-gim-content-holder">
<div class="qodef-tours-gim-content-outer">
<div class="qodef-tours-gim-content-inner">
<div class="qodef-gim-title-and-price-holder">
<h4 class="qodef-tour-title">
Barcelona </h4>
<span class="qodef-tours-price-holder">
<span class="qodef-tours-item-price ">ر.ع.840</span>
</span>
</div>
</div>
</div>
</div>
<a class="qodef-tours-masonry-item-link" href="../tour-item/barcelona/index.html"></a>
</div>
</div> <div class="qodef-tours-masonry-item qodef-tours-row-item qodef-item-space qodef-tour-item-has-rating qodef-size-default post-3233 tour-item type-tour-item status-publish has-post-thumbnail hentry tour-category-popular tour-attribute-5-star-accommodation tour-attribute-airport-transfer-2 tour-attribute-breakfast tour-attribute-personal-guide">
<div class="qodef-tours-gim-holder-inner">
<div class="qodef-tours-gim-image">
<img width="650" height="650" src="/design/wp-content/uploads/2018/10/tour-featured-img-34-650x650.jpg" class="attachment-setsail_select_image_square size-setsail_select_image_square" alt="d" loading="lazy" srcset="https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-34-650x650.jpg 650w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-34-150x150.jpg 150w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-34-300x300.jpg 300w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-34-768x768.jpg 768w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-34-1024x1024.jpg 1024w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-34-600x600.jpg 600w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-34-100x100.jpg 100w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-34.jpg 1100w" sizes="(max-width: 650px) 100vw, 650px" /> </div>
<div class="qodef-tours-gim-content-holder">
<div class="qodef-tours-gim-content-outer">
<div class="qodef-tours-gim-content-inner">
<div class="qodef-gim-title-and-price-holder">
<h4 class="qodef-tour-title">
Wine Tasting </h4>
<span class="qodef-tours-price-holder">
<span class="qodef-tours-item-price ">ر.ع.920</span>
</span>
</div>
</div>
</div>
</div>
<a class="qodef-tours-masonry-item-link" href="../tour-item/wine-tasting/index.html"></a>
</div>
</div> <div class="qodef-tours-masonry-item qodef-tours-row-item qodef-item-space qodef-tour-item-has-rating qodef-size-large-height post-3234 tour-item type-tour-item status-publish has-post-thumbnail hentry tour-category-popular tour-attribute-5-star-accommodation tour-attribute-airport-transfer-2 tour-attribute-breakfast tour-attribute-personal-guide">
<div class="qodef-tours-gim-holder-inner">
<div class="qodef-tours-gim-image">
<img width="650" height="1300" src="/design/wp-content/uploads/2018/10/tour-featured-img-35-650x1300.jpg" class="attachment-setsail_select_image_portrait size-setsail_select_image_portrait" alt="d" loading="lazy" /> </div>
<div class="qodef-tours-gim-content-holder">
<div class="qodef-tours-gim-content-outer">
<div class="qodef-tours-gim-content-inner">
<div class="qodef-gim-title-and-price-holder">
<h4 class="qodef-tour-title">
Camping </h4>
<span class="qodef-tours-price-holder">
<span class="qodef-tours-item-price ">ر.ع.1550</span>
</span>
</div>
</div>
</div>
</div>
<a class="qodef-tours-masonry-item-link" href="../tour-item/camping/index.html"></a>
</div>
</div> <div class="qodef-tours-masonry-item qodef-tours-row-item qodef-item-space qodef-tour-item-has-rating qodef-size-default post-1263 tour-item type-tour-item status-publish has-post-thumbnail hentry tour-category-popular tour-attribute-5-star-accommodation tour-attribute-airport-transfer-2 tour-attribute-breakfast tour-attribute-personal-guide">
<div class="qodef-tours-gim-holder-inner">
<div class="qodef-tours-gim-image">
<img width="650" height="650" src="/design/wp-content/uploads/2018/09/tour-featured-img-49-650x650.jpg" class="attachment-setsail_select_image_square size-setsail_select_image_square" alt="c" loading="lazy" srcset="https://setsail.qodeinteractive.com/wp-content/uploads/2018/09/tour-featured-img-49-650x650.jpg 650w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/09/tour-featured-img-49-150x150.jpg 150w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/09/tour-featured-img-49-300x300.jpg 300w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/09/tour-featured-img-49-768x768.jpg 768w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/09/tour-featured-img-49-1024x1024.jpg 1024w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/09/tour-featured-img-49-600x600.jpg 600w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/09/tour-featured-img-49-100x100.jpg 100w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/09/tour-featured-img-49.jpg 1100w" sizes="(max-width: 650px) 100vw, 650px" /> </div>
<div class="qodef-tours-gim-content-holder">
<div class="qodef-tours-gim-content-outer">
<div class="qodef-tours-gim-content-inner">
<div class="qodef-gim-title-and-price-holder">
<h4 class="qodef-tour-title">
Sydney Opera </h4>
<span class="qodef-tours-price-holder">
<span class="qodef-tours-item-price ">ر.ع.550</span>
</span>
</div>
</div>
</div>
</div>
<a class="qodef-tours-masonry-item-link" href="../tour-item/sydney-opera/index.html"></a>
</div>
</div> <div class="qodef-tours-masonry-item qodef-tours-row-item qodef-item-space qodef-tour-item-has-rating qodef-size-default post-3106 tour-item type-tour-item status-publish has-post-thumbnail hentry tour-category-popular tour-attribute-5-star-accommodation tour-attribute-airport-transfer-2 tour-attribute-breakfast tour-attribute-personal-guide">
<div class="qodef-tours-gim-holder-inner">
<div class="qodef-tours-gim-image">
<img width="650" height="650" src="/design/wp-content/uploads/2018/10/tour-featured-img-43-650x650.jpg" class="attachment-setsail_select_image_square size-setsail_select_image_square" alt="c" loading="lazy" srcset="https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-43-650x650.jpg 650w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-43-150x150.jpg 150w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-43-300x300.jpg 300w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-43-768x768.jpg 768w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-43-1024x1024.jpg 1024w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-43-600x600.jpg 600w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-43-100x100.jpg 100w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-43.jpg 1100w" sizes="(max-width: 650px) 100vw, 650px" /> </div>
<div class="qodef-tours-gim-content-holder">
<div class="qodef-tours-gim-content-outer">
<div class="qodef-tours-gim-content-inner">
<div class="qodef-gim-title-and-price-holder">
<h4 class="qodef-tour-title">
Kaohsiung </h4>
<span class="qodef-tours-price-holder">
<span class="qodef-tours-item-price ">ر.ع.963</span>
</span>
</div>
</div>
</div>
</div>
<a class="qodef-tours-masonry-item-link" href="../tour-item/kaohsiung/index.html"></a>
</div>
</div> <div class="qodef-tours-masonry-item qodef-tours-row-item qodef-item-space qodef-tour-item-has-rating qodef-size-default post-3108 tour-item type-tour-item status-publish has-post-thumbnail hentry tour-category-popular tour-attribute-5-star-accommodation tour-attribute-airport-transfer-2 tour-attribute-breakfast tour-attribute-personal-guide">
<div class="qodef-tours-gim-holder-inner">
<div class="qodef-tours-gim-image">
<img width="650" height="650" src="/design/wp-content/uploads/2018/10/tour-featured-img-45-650x650.jpg" class="attachment-setsail_select_image_square size-setsail_select_image_square" alt="c" loading="lazy" srcset="https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-45-650x650.jpg 650w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-45-150x150.jpg 150w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-45-300x300.jpg 300w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-45-768x768.jpg 768w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-45-1024x1024.jpg 1024w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-45-600x600.jpg 600w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-45-100x100.jpg 100w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-45.jpg 1100w" sizes="(max-width: 650px) 100vw, 650px" /> </div>
<div class="qodef-tours-gim-content-holder">
<div class="qodef-tours-gim-content-outer">
<div class="qodef-tours-gim-content-inner">
<div class="qodef-gim-title-and-price-holder">
<h4 class="qodef-tour-title">
Tainan </h4>
<span class="qodef-tours-price-holder">
<span class="qodef-tours-item-price ">ر.ع.999</span>
</span>
</div>
</div>
</div>
</div>
<a class="qodef-tours-masonry-item-link" href="../tour-item/tainan/index.html"></a>
</div>
</div> <div class="qodef-tours-masonry-item qodef-tours-row-item qodef-item-space qodef-tour-item-has-rating qodef-size-default post-3101 tour-item type-tour-item status-publish has-post-thumbnail hentry tour-category-popular tour-attribute-5-star-accommodation tour-attribute-airport-transfer-2 tour-attribute-breakfast tour-attribute-personal-guide">
<div class="qodef-tours-gim-holder-inner">
<div class="qodef-tours-gim-image">
<img width="650" height="650" src="/design/wp-content/uploads/2018/10/tour-featured-img-46-650x650.jpg" class="attachment-setsail_select_image_square size-setsail_select_image_square" alt="c" loading="lazy" srcset="https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-46-650x650.jpg 650w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-46-150x150.jpg 150w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-46-300x300.jpg 300w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-46-768x768.jpg 768w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-46-1024x1024.jpg 1024w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-46-600x600.jpg 600w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-46-100x100.jpg 100w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-46.jpg 1100w" sizes="(max-width: 650px) 100vw, 650px" /> </div>
<div class="qodef-tours-gim-content-holder">
<div class="qodef-tours-gim-content-outer">
<div class="qodef-tours-gim-content-inner">
<div class="qodef-gim-title-and-price-holder">
<h4 class="qodef-tour-title">
Ubud </h4>
<span class="qodef-tours-price-holder">
<span class="qodef-tours-item-price ">ر.ع.888</span>
</span>
</div>
</div>
</div>
</div>
<a class="qodef-tours-masonry-item-link" href="../tour-item/ubud/index.html"></a>
</div>
</div> <div class="qodef-tours-masonry-item qodef-tours-row-item qodef-item-space qodef-tour-item-has-rating qodef-size-default post-3103 tour-item type-tour-item status-publish has-post-thumbnail hentry tour-category-popular tour-attribute-5-star-accommodation tour-attribute-airport-transfer-2 tour-attribute-breakfast tour-attribute-personal-guide">
<div class="qodef-tours-gim-holder-inner">
<div class="qodef-tours-gim-image">
<img width="650" height="650" src="/design/wp-content/uploads/2018/10/tour-featured-img-47-650x650.jpg" class="attachment-setsail_select_image_square size-setsail_select_image_square" alt="c" loading="lazy" srcset="https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-47-650x650.jpg 650w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-47-150x150.jpg 150w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-47-300x300.jpg 300w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-47-768x768.jpg 768w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-47-1024x1024.jpg 1024w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-47-600x600.jpg 600w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-47-100x100.jpg 100w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-47.jpg 1100w" sizes="(max-width: 650px) 100vw, 650px" /> </div>
<div class="qodef-tours-gim-content-holder">
<div class="qodef-tours-gim-content-outer">
<div class="qodef-tours-gim-content-inner">
<div class="qodef-gim-title-and-price-holder">
<h4 class="qodef-tour-title">
Seminyak </h4>
<span class="qodef-tours-price-holder">
<span class="qodef-tours-item-price ">ر.ع.966</span>
</span>
</div>
</div>
</div>
</div>
<a class="qodef-tours-masonry-item-link" href="../tour-item/seminyak/index.html"></a>
</div>
</div> <div class="qodef-tours-masonry-item qodef-tours-row-item qodef-item-space qodef-tour-item-has-rating qodef-size-default post-3540 tour-item type-tour-item status-publish has-post-thumbnail hentry tour-category-popular tour-attribute-5-star-accommodation tour-attribute-airport-transfer-2 tour-attribute-breakfast tour-attribute-personal-guide">
<div class="qodef-tours-gim-holder-inner">
<div class="qodef-tours-gim-image">
<img width="650" height="650" src="/design/wp-content/uploads/2018/10/tour-featured-img-50-650x650.jpg" class="attachment-setsail_select_image_square size-setsail_select_image_square" alt="s" loading="lazy" srcset="https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-50-650x650.jpg 650w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-50-150x150.jpg 150w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-50-300x300.jpg 300w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-50-768x768.jpg 768w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-50-1024x1024.jpg 1024w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-50-600x600.jpg 600w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-50-100x100.jpg 100w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-50.jpg 1100w" sizes="(max-width: 650px) 100vw, 650px" /> </div>
<div class="qodef-tours-gim-content-holder">
<div class="qodef-tours-gim-content-outer">
<div class="qodef-tours-gim-content-inner">
<div class="qodef-gim-title-and-price-holder">
<h4 class="qodef-tour-title">
Caving </h4>
<span class="qodef-tours-price-holder">
<span class="qodef-tours-item-price ">ر.ع.1550</span>
</span>
</div>
</div>
</div>
</div>
<a class="qodef-tours-masonry-item-link" href="../tour-item/caving/index.html"></a>
</div>
</div> <div class="qodef-tours-masonry-item qodef-tours-row-item qodef-item-space qodef-tour-item-has-rating qodef-size-default post-3549 tour-item type-tour-item status-publish has-post-thumbnail hentry tour-category-popular tour-attribute-5-star-accommodation tour-attribute-airport-transfer-2 tour-attribute-breakfast tour-attribute-personal-guide">
<div class="qodef-tours-gim-holder-inner">
<div class="qodef-tours-gim-image">
<img width="650" height="650" src="/design/wp-content/uploads/2018/10/tour-featured-img-51-650x650.jpg" class="attachment-setsail_select_image_square size-setsail_select_image_square" alt="s" loading="lazy" srcset="https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-51-650x650.jpg 650w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-51-150x150.jpg 150w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-51-300x300.jpg 300w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-51-768x768.jpg 768w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-51-1024x1024.jpg 1024w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-51-600x600.jpg 600w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-51-100x100.jpg 100w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-51.jpg 1100w" sizes="(max-width: 650px) 100vw, 650px" /> </div>
<div class="qodef-tours-gim-content-holder">
<div class="qodef-tours-gim-content-outer">
<div class="qodef-tours-gim-content-inner">
<div class="qodef-gim-title-and-price-holder">
<h4 class="qodef-tour-title">
Beautiful Holland </h4>
<span class="qodef-tours-price-holder qodef-tours-price-with-discount">
<span class="qodef-tours-item-price qodef-tours-price-old">ر.ع.1550</span>
<span class="qodef-tours-item-discount-price qodef-tours-item-price">
ر.ع.1330 </span>
</span>
</div>
</div>
</div>
</div>
<a class="qodef-tours-masonry-item-link" href="../tour-item/beautiful-holland/index.html"></a>
</div>
</div> <div class="qodef-tours-masonry-item qodef-tours-row-item qodef-item-space qodef-tour-item-has-rating qodef-size-default post-3570 tour-item type-tour-item status-publish has-post-thumbnail hentry tour-category-popular tour-attribute-5-star-accommodation tour-attribute-airport-transfer-2 tour-attribute-breakfast tour-attribute-personal-guide">
<div class="qodef-tours-gim-holder-inner">
<div class="qodef-tours-gim-image">
<img width="650" height="650" src="/design/wp-content/uploads/2018/10/tour-featured-img-52-650x650.jpg" class="attachment-setsail_select_image_square size-setsail_select_image_square" alt="d" loading="lazy" srcset="https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-52-650x650.jpg 650w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-52-150x150.jpg 150w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-52-300x300.jpg 300w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-52-768x768.jpg 768w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-52-1024x1024.jpg 1024w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-52-600x600.jpg 600w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-52-100x100.jpg 100w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-52.jpg 1100w" sizes="(max-width: 650px) 100vw, 650px" /> </div>
<div class="qodef-tours-gim-content-holder">
<div class="qodef-tours-gim-content-outer">
<div class="qodef-tours-gim-content-inner">
<div class="qodef-gim-title-and-price-holder">
<h4 class="qodef-tour-title">
 Temple Tour </h4>
<span class="qodef-tours-price-holder">
<span class="qodef-tours-item-price ">ر.ع.1550</span>
</span>
</div>
</div>
</div>
</div>
<a class="qodef-tours-masonry-item-link" href="../tour-item/temple-tour/index.html"></a>
</div>
</div> </div>
</div></div></div></div></div><div class="qodef-row-grid-section-wrapper "><div class="qodef-row-grid-section"><div class="vc_row wpb_row vc_row-fluid vc_custom_1539172735011"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="qodef-testimonials-holder clearfix ">
<div class="qodef-testimonials qodef-owl-slider" data-number-of-items="1" data-enable-loop="yes" data-enable-autoplay="yes" data-slider-speed="5000" data-slider-speed-animation="600" data-enable-navigation="yes" data-enable-pagination="no">
<div class="qodef-testimonial-content">
<div class="qodef-testimonial-image">
<img width="143" height="144" src="/design/wp-content/uploads/2018/09/h1-testimonials-2.png" class="attachment-144x144 size-144x144 wp-post-image" alt="a" loading="lazy" srcset="https://setsail.qodeinteractive.com/wp-content/uploads/2018/09/h1-testimonials-2.png 143w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/09/h1-testimonials-2-100x100.png 100w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/09/h1-testimonials-2-74x75.png 74w" sizes="(max-width: 143px) 100vw, 143px" /> </div>
<span class="qodef-testimonial-text">&quot;Dolor ipsum dolor sit amet, consectetuer adipiscing elit. Lorem commodo ligula eg dolor. Lorem Aenean msa. Cum sociis natoque&quot;</span>
<span class="qodef-testimonial-author">John Rios</span>
</div>
<div class="qodef-testimonial-content">
<div class="qodef-testimonial-image">
<img width="143" height="144" src="/design/wp-content/uploads/2018/09/h1-testimonial-1.png" class="attachment-144x144 size-144x144 wp-post-image" alt="a" loading="lazy" srcset="https://setsail.qodeinteractive.com/wp-content/uploads/2018/09/h1-testimonial-1.png 143w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/09/h1-testimonial-1-100x100.png 100w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/09/h1-testimonial-1-74x75.png 74w" sizes="(max-width: 143px) 100vw, 143px" /> </div>
<span class="qodef-testimonial-text">&quot;Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis&quot; </span>
<span class="qodef-testimonial-author">Marianna Loreto</span>
</div>
</div>
</div></div></div></div></div></div></div><div class="vc_row wpb_row vc_row-fluid vc_custom_1536678050107" style="background-color:#3fd0d4"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="qodef-call-to-action-holder  qodef-normal-layout qodef-content-in-grid qodef-three-quarters-columns">
<div class="qodef-cta-inner qodef-grid">
<div class="qodef-cta-text-holder">
<div class="qodef-cta-text">
<h4 style="color: #fff;">Subscribe Now and Quench Your Wanderlust!</h4>
</div>
</div>
<div class="qodef-cta-button-holder">
<div class="qodef-cta-button"><a itemprop="url" href="../my-account/index.html" target="_self" style="color: #222222;background-color: #ffffff" class="qodef-btn qodef-btn-large qodef-btn-solid qodef-btn-custom-hover-bg qodef-btn-custom-hover-color" data-hover-color="#ffffff" data-hover-bg-color="#23a9af"> <span class="qodef-btn-text">Join Now</span> </a></div>
</div>
</div>
</div></div></div></div></div>
</div>
</div>
</div>
</div>
</div> 
</div> 
<%- include ('./footer.ejs') %>
