<%- include ('./header.ejs') %>
      <section style="padding-top: 10rem;background-color: white;" >
        <div class="bg-holder" style="background-color: #4F46E5;">
        </div>
        <!--/.bg-holder-->

        <div class="container" style="background-image : url('/img/Visa/Visa/Coacing/Element.png'); background-size:contain; background-repeat: no-repeat;">

          <div class="row align-items-center">
            <div class="col-md-4 col-lg-5 order-0 order-md-1 text-end"><img class="pt-7 pt-md-0 hero-img myimage" src="/img/Visa/Visa/Coacing/Heading.png" alt="hero-header" style="border-radius: 16px;"/></div>
            <div class="col-md-8 col-lg-7 text-md-start text-center py-6">
              <h1 class="hero-titl" style="font-family: Manrope;
              font-size: 64px;
              font-weight: 600;
              line-height: 80px;
              letter-spacing: 0em;
              text-align: left;
              color: #FFFFFF;
              ">Our Courses and cocaching services</h1>
              <p class="mb-4" style="font-family: Poppins;
              font-size: 18px;
              font-weight: 400;
              line-height: 24px;
              letter-spacing: 0px;
              text-align: left;
              color: #FFFFFF;
              ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lectus integer ornare lorem nunc tortor vel, tortor at. </p>
              <div class="text-center text-md-start">
                
                <div class="modal fade" id="popupVideo" tabindex="-1" aria-labelledby="popupVideo" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                      <iframe class="rounded" style="width:100%;max-height:500px;" height="500px" src="https://www.youtube.com/embed/_lhdhL4UDIo" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>


   
      <!-- ============================================-->

      <!-- <section> begin ============================-->
        <section class="pt-5" id="destination" style="background-color: white;">

          <div class="container">
            <div class="mb-7 text-center">
              <h3 class="fs-xl-10 fs-lg-8 fs-7 text-center" style="font-family: Poppins;
              font-size: 32px;
              font-weight: 600;
              line-height: 32px;
              letter-spacing: 0.01em;
              text-align: left;
              ">Checkout our stores</h3>
            </div>
            <div class="row">
             


              <div class="col-md-4 mb-4">
                <div class="card text-dark bg-white mb-3 card2 shadow" style="height: 456px;border-radius: 16px;">
                  <img src="https://www.thoughtco.com/thmb/9ogmlNLs39e3Lp6suuXO2QsBXEg=/1500x844/smart/filters:no_upscale()/national-flag-canada-lge2-56a0e57f5f9b58eba4b4f422.jpg" alt="image" style="border-top-left-radius: 10px;border-top-right-radius: 10px;height: 305px;">
                  <div class="card-body">
                    <h3 class="card-title" style="font-family: Poppins;
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 20px;
                    letter-spacing: 0em;
                    text-align: left;
                    
                    ">Lorem Ipsum</h3>
                    <p class="card-text" style="font-family: Poppins;
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 20px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #5E6282;
                    opacity: 0.8;
                    height: 60px;
width: 379px;

                    
                    ">Studying In The United State of America quis nostrud
exercitation. Studying in the Australia quis nostrud exercitation
ullamco laboris.</p>
        
                  </div>
                </div>
              </div>

              <div class="col-md-4 mb-4">
                <div class="card text-dark bg-white mb-3 card2 shadow" style="height: 456px;border-radius: 16px;">
                  <img src="https://www.thoughtco.com/thmb/9ogmlNLs39e3Lp6suuXO2QsBXEg=/1500x844/smart/filters:no_upscale()/national-flag-canada-lge2-56a0e57f5f9b58eba4b4f422.jpg" alt="image" style="border-top-left-radius: 10px;border-top-right-radius: 10px;height: 305px;">
                  <div class="card-body">
                    <h3 class="card-title" style="font-family: Poppins;
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 20px;
                    letter-spacing: 0em;
                    text-align: left;
                    
                    ">Lorem Ipsum</h3>
                    <p class="card-text" style="font-family: Poppins;
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 20px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #5E6282;
                    opacity: 0.8;
                    height: 60px;
width: 379px;

                    
                    ">Studying In The United State of America quis nostrud
exercitation. Studying in the Australia quis nostrud exercitation
ullamco laboris.</p>
        
                  </div>
                </div>
              </div>

              <div class="col-md-4 mb-4">
                <div class="card text-dark bg-white mb-3 card2 shadow" style="height: 456px;border-radius: 16px;">
                  <img src="https://www.thoughtco.com/thmb/9ogmlNLs39e3Lp6suuXO2QsBXEg=/1500x844/smart/filters:no_upscale()/national-flag-canada-lge2-56a0e57f5f9b58eba4b4f422.jpg" alt="image" style="border-top-left-radius: 10px;border-top-right-radius: 10px;height: 305px;">
                  <div class="card-body">
                    <h3 class="card-title" style="font-family: Poppins;
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 20px;
                    letter-spacing: 0em;
                    text-align: left;
                    
                    ">Lorem Ipsum</h3>
                    <p class="card-text" style="font-family: Poppins;
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 20px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #5E6282;
                    opacity: 0.8;
                    height: 60px;
width: 379px;

                    
                    ">Studying In The United State of America quis nostrud
exercitation. Studying in the Australia quis nostrud exercitation
ullamco laboris.</p>
        
                  </div>
                </div>
              </div>


              <div class="col-md-4 mb-4">
                <div class="card text-dark bg-white mb-3 card2 shadow" style="height: 456px;border-radius: 16px;">
                  <img src="https://www.thoughtco.com/thmb/9ogmlNLs39e3Lp6suuXO2QsBXEg=/1500x844/smart/filters:no_upscale()/national-flag-canada-lge2-56a0e57f5f9b58eba4b4f422.jpg" alt="image" style="border-top-left-radius: 10px;border-top-right-radius: 10px;height: 305px;">
                  <div class="card-body">
                    <h3 class="card-title" style="font-family: Poppins;
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 20px;
                    letter-spacing: 0em;
                    text-align: left;
                    
                    ">Lorem Ipsum</h3>
                    <p class="card-text" style="font-family: Poppins;
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 20px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #5E6282;
                    opacity: 0.8;
                    height: 60px;
width: 379px;

                    
                    ">Studying In The United State of America quis nostrud
exercitation. Studying in the Australia quis nostrud exercitation
ullamco laboris.</p>
        
                  </div>
                </div>
              </div>


              <div class="col-md-4 mb-4">
                <div class="card text-dark bg-white mb-3 card2 shadow" style="height: 456px;border-radius: 16px;">
                  <img src="https://www.thoughtco.com/thmb/9ogmlNLs39e3Lp6suuXO2QsBXEg=/1500x844/smart/filters:no_upscale()/national-flag-canada-lge2-56a0e57f5f9b58eba4b4f422.jpg" alt="image" style="border-top-left-radius: 10px;border-top-right-radius: 10px;height: 305px;">
                  <div class="card-body">
                    <h3 class="card-title" style="font-family: Poppins;
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 20px;
                    letter-spacing: 0em;
                    text-align: left;
                    
                    ">Lorem Ipsum</h3>
                    <p class="card-text" style="font-family: Poppins;
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 20px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #5E6282;
                    opacity: 0.8;
                    height: 60px;
width: 379px;

                    
                    ">Studying In The United State of America quis nostrud
exercitation. Studying in the Australia quis nostrud exercitation
ullamco laboris.</p>
        
                  </div>
                </div>
              </div>


              <div class="col-md-4 mb-4">
                <div class="card text-dark bg-white mb-3 card2 shadow" style="height: 456px;border-radius: 16px;">
                  <img src="https://www.thoughtco.com/thmb/9ogmlNLs39e3Lp6suuXO2QsBXEg=/1500x844/smart/filters:no_upscale()/national-flag-canada-lge2-56a0e57f5f9b58eba4b4f422.jpg" alt="image" style="border-top-left-radius: 10px;border-top-right-radius: 10px;height: 305px;">
                  <div class="card-body">
                    <h3 class="card-title" style="font-family: Poppins;
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 20px;
                    letter-spacing: 0em;
                    text-align: left;
                    
                    ">Lorem Ipsum</h3>
                    <p class="card-text" style="font-family: Poppins;
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 20px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #5E6282;
                    opacity: 0.8;
                    height: 60px;
width: 379px;

                    
                    ">Studying In The United State of America quis nostrud
exercitation. Studying in the Australia quis nostrud exercitation
ullamco laboris.</p>
        
                  </div>
                </div>
              </div>



            
            </div>
          </div><!-- end of .container-->
  
        </section>
        <!-- <section> close ============================-->
        <!-- ============================================-->



        
      <!-- ============================================-->
      <!-- <section> begin ============================-->
        <section class="pt-2" id="destination" style="background-color: white;">

            <div class="container">
              <div class="mb-7 text-center">
                <h3 class="fs-xl-10 fs-lg-8 fs-7 text-center" style="font-family: Poppins;
                font-size: 32px;
                font-weight: 600;
                line-height: 40px;
                letter-spacing: 0.01em;
                text-align: left;
                ">Meet our Talented Instructors</h3>
              </div>
              <div class="row">
               
  
  
                <div class="col-md-3 mb-3">
                  <div class="card text-dark bg-white mb-3 card2">
                    <img src="/public/images/visa-image/images/COaching/Image.jpg" alt="image" style="border-radius: 16px;height: 295px; ">
                    <div class="card-body">
                      <h3 class="card-title " style="font-family: Poppins;
                      font-size: 28px;
                      font-weight: 500;
                      line-height: 48px;
                      letter-spacing: 0em;
                      text-align: center;
                      color: #000000;

                      "> Michael Scott</h3>
                      <p class="card-text" style="font-family: Poppins;
                      font-size: 20px;
                      font-weight: 400;
                      line-height: 32px;
                      letter-spacing: 0em;
                      text-align: left;
                      color: #777777;
                      width: 278px;
height: 64px;
                      ">Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit</p>
                     
          
                    </div>
                  </div>
                </div>

                <div class="col-md-3 mb-3">
                  <div class="card text-dark bg-white mb-3 card2">
                    <img src="/public/images/visa-image/images/COaching/Image-1.jpg" alt="image" style="border-radius: 16px;height: 295px; ">
                    <div class="card-body">
                      <h3 class="card-title " style="font-family: Poppins;
                      font-size: 28px;
                      font-weight: 500;
                      line-height: 48px;
                      letter-spacing: 0em;
                      text-align: center;
                      color: #000000;

                      "> Michael Scott</h3>
                      <p class="card-text" style="font-family: Poppins;
                      font-size: 20px;
                      font-weight: 400;
                      line-height: 32px;
                      letter-spacing: 0em;
                      text-align: left;
                      color: #777777;
                      width: 278px;
height: 64px;
                      ">Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit</p>
                     
          
                    </div>
                  </div>
                </div>

               
                <div class="col-md-3 mb-3">
                  <div class="card text-dark bg-white mb-3 card2">
                    <img src="/public/images/visa-image/images/COaching/Image-2.jpg" alt="image" style="border-radius: 16px;height: 295px; ">
                    <div class="card-body">
                      <h3 class="card-title " style="font-family: Poppins;
                      font-size: 28px;
                      font-weight: 500;
                      line-height: 48px;
                      letter-spacing: 0em;
                      text-align: center;
                      color: #000000;

                      "> Michael Scott</h3>
                      <p class="card-text" style="font-family: Poppins;
                      font-size: 20px;
                      font-weight: 400;
                      line-height: 32px;
                      letter-spacing: 0em;
                      text-align: left;
                      color: #777777;
                      width: 278px;
height: 64px;
                      ">Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit</p>
                     
          
                    </div>
                  </div>
                </div>



                <div class="col-md-3 mb-3">
                  <div class="card text-dark bg-white mb-3 card2">
                    <img src="/public/images/visa-image/images/COaching/Image-3.jpg" alt="image" style="border-radius: 16px;height: 295px; ">
                    <div class="card-body">
                      <h3 class="card-title " style="font-family: Poppins;
                      font-size: 28px;
                      font-weight: 500;
                      line-height: 48px;
                      letter-spacing: 0em;
                      text-align: center;
                      color: #000000;

                      "> Michael Scott</h3>
                      <p class="card-text" style="font-family: Poppins;
                      font-size: 20px;
                      font-weight: 400;
                      line-height: 32px;
                      letter-spacing: 0em;
                      text-align: left;
                      color: #777777;
                      width: 278px;
height: 64px;
                      ">Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit</p>
                     
          
                    </div>
                  </div>
                </div>
               
              </div>
            </div><!-- end of .container-->
    
          </section>
          <!-- <section> close ============================-->
          <!-- ============================================-->
  




        <%- include ('./footer.ejs') %>