<%- include ('./adminheader.ejs') %>


<!--InsertDiv-->


  <div class="container-fluid mt--7">
      <div id="insertdiv">
    <div class="row">
      <div class="col-xl-12 order-xl-1">
        <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
                <div class="row align-items-center">
                  <div class="col-8">
                    <h3 class="mb-0">Add BDA Partner</h3>
                  </div>
                  <div class="col-4 text-right">
                    <button type="button" id="show" class="btn btn-sm btn-primary">Show</button>
                  </div>
                </div>
              </div>
              
          <div class="card-body">
              <div class="pl-lg-4">
              
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label class="form-control-label" for="input-username">Person Name</label>
                          <input type="text" id="name" name="name" class="form-control form-control-alternative"
                            placeholder="Name">
                        </div>
                      </div>

                      <div class="col-lg-6">
                        <div class="form-group">
                          <label class="form-control-label" for="input-email">Mobile Number</label>
                          <input type="text" id="number" name="number" class="form-control form-control-alternative"
                            placeholder="Mobile Number">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label class="form-control-label" for="input-username">Password</label>
                            <input type="text" id="password" name="password" class="form-control form-control-alternative"
                              placeholder="Password">
                          </div>
                        </div>
                        
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label class="form-control-label" for="input-email">Address</label>
                            <input type="text" id="address" name="address" class="form-control form-control-alternative"
                              placeholder="Address">
                          </div>
                        </div>
                      </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <button type="button" class="btn btn-info save">Save</button>
                    </div>
                  </div>
                </div>
           </div>
        </div>
      </div>
    </div>
 </div>
</div>

<!--End InsertDiv-->

<div id="result"></div>
<!--EditDiv-->


    <div id="editdiv">
  <div class="row">
    <div class="col-xl-12 order-xl-1">
      <div class="card bg-secondary shadow">
          <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">New BDA Partner [Edit]</h3>
                </div>
                <div class="col-4 text-right">
                  <button type="button" id="back1" class="btn btn-sm btn-primary">Back</button>
                </div>
              </div>
            </div>
            
        <div class="card-body">
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">ID</label>
                    <input type="text" id="pid"  class="form-control form-control-alternative"
                      placeholder="Class Name" readonly>
                  </div>
                </div>
                
              </div>


              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Person Name</label>
                    <input type="text" id="pname" name="name" class="form-control form-control-alternative"
                      placeholder="Name">
                  </div>
                </div>

                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">Mobile Number</label>
                    <input type="text" id="pnumber" name="number" class="form-control form-control-alternative"
                      placeholder="Mobile Number">
                  </div>
                </div>
              </div>
              <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-username">Password</label>
                      <input type="text" id="ppassword" name="password" class="form-control form-control-alternative"
                        placeholder="Password">
                    </div>
                  </div>
                  
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-email">Address</label>
                      <input type="text" id="paddress" name="address" class="form-control form-control-alternative"
                        placeholder="Address">
                    </div>
                  </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <button type="button" class="btn btn-info update" id="update">Update</button>
                      </div>
                    </div>
                  </div>
            
        </div>
      </div>
    </div>
  </div>
</div>
    </div>


<!--Ends EditDiv-->

<!--UpdateImageDiv Start-->
<div id="updateimagediv">
    <div class="row">
      <div class="col-xl-12 order-xl-1">
        <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
                <div class="row align-items-center">
                  <div class="col-8">
                    <h3 class="mb-0">New Student [Edit]</h3>
                  </div>
                  <div class="col-4 text-right">
                    <button type="button" id="back2" class="btn btn-sm btn-primary">Back</button>
                  </div>
                </div>
              </div>
              
          <div class="card-body">
            <form action="/add_student/update_image" method="post" enctype="multipart/form-data">
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-username"> ID</label>
                      <input type="text" name="id" id="peid"  class="form-control form-control-alternative"
                        placeholder="ID" readonly>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-email">Image</label>
                      <input type="file" name="image"  class="form-control form-control-alternative">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <button type="submit" id="update" class="btn btn-info">Update Image</button>
                    </div>
                  </div>
                </div>
                </form>
          </div>
        </div>
      </div>
    </div>
  </div>
      </div>
  
  
      <!-- Footer -->
      <footer class="footer">
        <div class="row align-items-center justify-content-xl-between">
          <div class="col-xl-6">
            
          </div>
        
        </div>
      </footer>
    </div>
  </div>
  <!-- Argon Scripts -->
  <!-- Core -->
  <script src="/admin/assets/vendor/jquery/dist/jquery.min.js"></script>
  <script src="/admin/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Argon JS -->
  <script src="/admin/assets/js/argon.js?v=1.0.0"></script>
  <script src="/javascripts/testimonial.js"></script>
</body>

</html>